.moods__title {
  font-size: 56px;
  font-weight: 500;
  line-height: 56px;
  width: 1049px;
  height: 166px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
