.hero__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  margin: 0;
}

@media screen and (max-width: 1210px) {
  .hero__title {
    font-size: 46px;
    line-height: 53px;
    letter-spacing: -0.02em;
  }
}

@media screen and (max-width: 700px) {
  .hero__title {
    font-size: 44px;
    line-height: 51px;
  }
}
