.comments__bubble {
  width: 48%;
  background: var(--primary-light);
  box-shadow: 0px 5px 7px rgba(119, 119, 119, 0.25);
  border-radius: 25px;
}

@media screen and (max-width: 1112px) {
  .comments__bubble {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .comments__bubble {
    margin: 0;
  }
}
