.moods__list {
  max-width: 302px;
}

.moods__list li {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .moods__list {
    max-width: 215px;
    padding: 0;
  }

  .moods__list li {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 400px) {
  .moods__list {
    max-width: 215px;
    padding: 0;
  }

  .moods__list li {
    font-size: 14px;
  }
}
