.moods__card {
  width: 370px;
  height: 425px;
  background-color: white;
  border-radius: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
