@import url(./_item/menu__nav_item.css);

.menu__nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 184px;
  padding-bottom: 61px;
}

@media screen and (max-width: 1112px) {
  .menu__nav {
    padding-right: 46px;
    padding-bottom: 49px;
    gap: 12.5px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .menu__nav {
    padding-left: 33px;
    padding-bottom: 40px;
  }
}
