@import url(./_left/hero__container_left.css);
@import url(./_right/hero__container_right.css);

.hero__container {
  margin: auto;
  max-width: 1220px;
  height: 446px;
  background-color: white;
  border-radius: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
