.moods__subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  padding-top: 57px;
  margin: 0;
  align-self: flex-start;
  padding-left: 54px;
}

@media screen and (max-width: 800px) {
  .moods__subtitle {
    font-size: 32px;
    line-height: 24px;
    padding-top: 39px;
    padding-left: 39px;
  }
}

@media screen and (max-width: 400px) {
  .moods__subtitle {
    font-size: 24px;
    padding-top: 41px;
    padding-left: 42px;
  }
}
