.professionals__elements {
  margin: 90px auto 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1296px) {
  .professionals__elements {
    max-width: 469px;
    gap: 45px;
  }
}

@media screen and (max-width: 600px) {
  .professionals__elements {
    flex-direction: column;
    align-items: center;
    margin: 35px auto 40px;
    gap: 40px;
  }
}
