.comments__title {
  font-size: 56px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.02em;
  max-width: 1049px;
  margin: auto;
  display: flex;
}

@media screen and (max-width: 1210px) {
  .comments__title {
    font-size: 42px;
    width: 90vw;
    line-height: 56px;
    letter-spacing: -0.02em;
  }
}

@media screen and (max-width: 700px) {
  .comments__title {
    font-size: 44px;
    line-height: 56px;
    width: 90%;
  }
}
