.footer__links {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #a2a2a2;
}

@media screen and (max-width: 613px) {
  .footer__links {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
}
