.footer__links {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #a2a2a2;
  text-decoration: none;
  display: block;
}

@media screen and (max-width: 800px) {
  .footer__links {
    font-size: 14px;
    line-height: 16px;
    margin: 6px;
  }
}

@media screen and (max-width: 613px) {
  .footer__links {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__links:hover {
  animation: 0.7s pop-on-hover ease;
}
