.moods__button {
  width: 220px;
  height: 60px;
  border: 1.5px solid black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
}
