.hero__container_left {
  width: 500px;
  height: 270px;
  padding-left: 93px;
}

@media screen and (max-width: 1210px) {
  .hero__container_left {
    width: 260px;
    height: 296px;
    padding-left: 58px;
  }
}

@media screen and (max-width: 700px) {
  .hero__container_left {
    padding-top: 58px;
    width: 81%;
    height: 100%;
    padding-bottom: 44px;
    padding-left: 0;
  }
}
