.card__note-accent {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.025em;
  padding: 5px 15px;

  background: rgba(144, 187, 255, 0.4);
  color: #6691d6;
  border-radius: 18px;
}
