.professionals__whos-live {
  display: inline-block;
}

.professionals__whos-live img:not(:first-child) {
  margin-left: -27px;
}

@media screen and (max-width: 1112px) {
  .professionals__whos-live {
    padding-right: 9px;
  }
}
