@import url(./__title/tips__title.css);
@import url(./__elements/tips__elements.css);

.tips {
  max-width: 1098px;
  width: 95%;
  margin: auto;
  padding-top: 44px;
  padding-bottom: 81px;
}

@media screen and (max-width: 768px) {
  .tips {
    padding-top: 40px;
    padding-bottom: 62.3px;
  }
}

@media screen and (max-width: 480px) {
  .tips {
    padding-top: 33px;
    padding-bottom: 50px;
  }
}
