.hero__container_right {
  width: 492px;
  height: 319px;
  padding-right: 93px;
}

@media screen and (max-width: 1024px) {
  .hero__container_right {
    width: 80%;
    height: 100%;
    padding-right: 0px;
  }
}
