.hero__paragraph {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: justify;
  padding-left: 27px;
}

@media screen and (max-width: 1210px) {
  .hero__paragraph {
    font-size: 16px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .hero__paragraph {
    padding-left: 0;
    font-size: 16px;
  }

  .hero__paragraph::before {
    content: url(../../../images/bulletpoint.svg);
    position: relative;
    top: -33px;
    left: calc(50%);
  }
}
