@import url(./__left-container/footer__left-container.css);
@import url(./__links/footer__links.css);

.footer {
  max-width: 1220px;
  height: 365px;
  background-color: white;
  margin: auto;
  border-radius: 69px;
  margin-top: 80px;
}
