@media screen and (max-width: 800px) {
  .footer__socials {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 613px) {
  .footer__socials {
    width: 20px;
    height: 20px;
  }
}
