@import url(./_icon/navbar__menu_icon.css);

.navbar__menu {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

@media screen and (max-width: 600px) {
  .navbar__menu {
    width: 40px;
    height: 40px;
  }
}

.navbar__menu:hover {
  animation: 0.7s pop-on-hover ease;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}
