.comments__button {
  box-sizing: border-box;
  border-radius: 40px;
  width: 325px;
  height: 65px;
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-size: 20px;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: opacity 0.3s;
  margin-top: 20px;
}

.comments__button:hover {
  animation: 0.7s pop-on-hover ease;
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 1112px) {
  .comments__button {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .comments__button {
    margin: auto;
    font-size: 16px;
  }
}
