.moods__feels {
  width: 480px;
  height: 230px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .moods__feels {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
  }
}
  
}
